<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garry.dao.MailFileFolderPathDAO">

    <resultMap id="BaseResultMap" type="com.garry.model.MailFileFolderPathPO">
        <id column="folder_path_id" property="folderPathId"/>
        <result column="folder_path" property="folderPath"/>
        <result column="creation_date" property="creationDate"/>
    </resultMap>

	<sql id="BaseColumns">
			folder_path_id
			,folder_path
			,creation_date
	</sql>

	<select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM mail_file_folder_path
		<where>
			<if test="folderPathId != null ">
				AND folder_path_id = #{folderPathId}
			</if>
			<if test="folderPath != null ">
				AND folder_path = #{folderPath}
			</if>
			<if test="creationDate != null ">
				AND creation_date = #{creationDate}
			</if>
		</where>
	</select>

	<select id="pageQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM mail_file_folder_path
		<where>
			<if test="folderPathId != null ">
				AND folder_path_id = #{folderPathId}
			</if>
			<if test="folderPath != null ">
				AND folder_path = #{folderPath}
			</if>
			<if test="creationDate != null ">
				AND creation_date = #{creationDate}
			</if>
		</where>
	</select>



</mapper>
