<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garry.mail.dao.MailAddressInfoDAO">

    <resultMap id="BaseResultMap" type="com.garry.mail.model.MailAddressInfoPO">
        <id column="address_id" property="addressId"/>
        <result column="address" property="address"/>
        <result column="address_name" property="addressName"/>
        <result column="creation_date" property="creationDate"/>
    </resultMap>

	<sql id="BaseColumns">
			address_id
			,address
			,address_name
			,creation_date
	</sql>

	<select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM mail_address_info
		<where>
			<if test="addressId != null ">
				AND address_id = #{addressId}
			</if>
			<if test="address != null ">
				AND address = #{address}
			</if>
			<if test="addressName != null ">
				AND address_name = #{addressName}
			</if>
			<if test="creationDate != null ">
				AND creation_date = #{creationDate}
			</if>
		</where>
	</select>

	<select id="pageQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM mail_address_info
		<where>
			<if test="addressId != null ">
				AND address_id = #{addressId}
			</if>
			<if test="address != null ">
				AND address = #{address}
			</if>
			<if test="addressName != null ">
				AND address_name = #{addressName}
			</if>
			<if test="creationDate != null ">
				AND creation_date = #{creationDate}
			</if>
		</where>
	</select>



</mapper>
